@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html,body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.description {
  margin: 10em 0em auto 11em;
  overflow-y: hidden;
  text-align: left;
}
.text-part img {
  position: absolute;
  left: 11em;
  top: 3em;
}

.avatar img {
  height: 100vh;
  width: 40vw;
  padding: 0%;
  margin-left: 0;
}
.text-part h1 {
  font-size: 5em;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
  font-family: 'Josefin Sans', cursive;
  margin: 0;
  letter-spacing: 10px;
}
.text-part h2 {
  font-size: 5em;
  margin: 0;
  font-family: 'Josefin Sans', cursive;
  letter-spacing: 10px;
}
.text-part p {
  font-size: 1em;
  color: hsl(0, 36%, 70%);
  font-family: 'Josefin Sans', cursive;
  font-size: 1em;
  width: 32vw;
  margin-right: 0;
  line-height: 2em;
}
.form {
  display: flex;
  margin-top: 5vh;
}
.form input {
  width: 25vw;
  height: 6vh;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 1em;
  border: 1px solid  hsl(0, 36%, 70%);
  font-size: 1em;
  outline: none;
}
.form button {
  width: 6vw;
  margin-left: -2em;
  border-radius: 25px;
  background-image: linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: 1px solid  hsl(0, 36%, 70%);
  outline: none;
  cursor: pointer;

}